<h2>Checkout</h2>

@if (compraFinalizada()) {
    <p style="color: green;">Compra finalizada com sucesso!</p>
    <button type="button" routerLink="/produtos">Voltar para produtos</button>
    <button type="button" (click)="sair()">Sair</button>
}

@if (carrinhoFacade.carrinhoVazio()) {
    <p style="color: red;">Seu carrinho está vazio. Adicione produtos antes de filalizar a comprar.</p>
    <button type="button" routerLink="/produtos">Ver produtos</button>
}@else if (!compraFinalizada()) {
    <section>
        <h3>Resumo do pedido</h3>
        <p><strong>Itens no carrinho: </strong> {{carrinhoFacade.quantidadeCarrinho()}} </p>
        <p><strong>Total: </strong> {{carrinhoFacade.totalCarrinho() | precoFormatado}} </p>
        <button type="button" routerLink="/carrinho">Revisar Carrinho</button>
    </section>
}

<form [formGroup] ="formulario">

<p><input type="text" formControlName="nome" placeholder="Nome"></p>
@if(formulario.get('nome')?.touched && formulario.get('nome')?.invalid){
    @if(formulario.get('nome')?.errors?.['required']){
        <small style="color: red;">Nome é Obrigatório!</small>
    }
}
@if (formulario.get('nome')?.errors?.['minlength']) {
    <small style="color: red;">Nome deve ter no mínimo 3 letras</small>
}
@if(formulario.get('nome')?.errors?.['numeroInvalido']){
    <br>
    <small style="color: red;">Nome não pode conter Números!</small>
}

<p><input type="text" formControlName="email" placeholder="E-mail"></p>
@if (formulario.get('email')?.touched && formulario.get('email')?.invalid) {
    @if (formulario.get('email')?.errors?.['required']) {
        <small style="color: red;">E-mail é Obrigatório!</small>
    }
}
@if (formulario.get('email')?.errors?.['email']) {
    <small style="color: red;">E-mail Inválido</small>
}

<p><input type="text" formControlName="endereco" placeholder="Endereço"></p>
@if (formulario.get('endereco')?.touched && formulario.get('endereco')?.invalid) {
    @if (formulario.get('endereco')?.errors?.['required']) {
        <small style="color: red;">O Endereço é Obrigatório!</small>
        <br>
    }
}
@if (formulario.get('endereco')?.errors?.['minlength']) {
    <small style="color: red;">Entereço Inválido</small>
}
<br>
<button type="button" (click)="finalizar()" [disabled]="formulario.invalid">Finalizar compra</button>
</form>